<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26656946418-tcs82e8ofefs2c27cdn51l4d231lhj2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26656946418-tcs82e8ofefs2c27cdn51l4d231lhj2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDadNpI4lV25xzIlBKudCh76_Vh2pq3l8k</string>
	<key>GCM_SENDER_ID</key>
	<string>26656946418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liontech.AnalyticsDemo</string>
	<key>PROJECT_ID</key>
	<string>analyticsdemo-8db3f</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticsdemo-8db3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26656946418:ios:07028dc2890e7b0d</string>
	<key>DATABASE_URL</key>
	<string>https://analyticsdemo-8db3f.firebaseio.com</string>
</dict>
</plist>